/* layout */
@charset "utf-8";
* {box-sizing: border-box;}
.line {
    position: fixed; left: 0; top: 0;
    width: 100%; height: 100vh;
    display: flex;
    z-index: -11;
}

.line > div {
    flex-basis: 16.6666%;
    border-right: 1px solid #e9e9e9;
    
}
.scrollTop {
    position: fixed; right: 10px; top: 10px;
    width: 40px; height: 40px;
    background: rgba(0,0,0,.5);
    text-align: center;
    color: #fff; line-height: 40px;
}


/* header */
#header {
    z-index: 100;
    position: fixed; left: 2vw; top: 2vw; 
    padding-bottom:  2.5vw;
}
#header h1 {
    font-size: 2vw; font-weight: 700;
    padding-bottom: 0.5vw;
}
#header h1 a {
    color: #e6e6e6;
    transition: all .3s ease;
}
#header h1 a:hover {
    color: #000;
}

#header ul {padding: 0;}
#header ul li {
    font-weight: bold;
    font-size: 1.7vw; padding-bottom: 20;
}
#header ul li a{
    color: #c2c2c2;
    transition: all .3s ease;
}
#header ul li a:hover {color: #000;}
#header ul li a span {color: #000;}
/* //header */

/* PORTFOLIO */
.ct .pf {
    position: fixed;
    top: 2vw;
    left: 16vw;
    font-size: 2vw;
    font-weight: 700;
    display: none;
    pointer-events: none;
}
.ct .pf span {
    color : #c2c2c2;
}
/* section1 */
#section1 {
    width: 100%;
    height: 21000px;
}
#section1 .t1 {
    overflow: hidden;
    width: 16.6vw;
    position: fixed; left: 50%; top: 50%;
    transform: translate(-100%, -93%);
}
#section1 .t1 img {
    width: 110%;
    margin-left: -2vw;
}
#section1 .t2 {
    overflow: hidden;
    width: 17vw;
    position: fixed; left: 50%; top: 50%;
    transform: translate(0%, 0%);
}
#section1 .t2 img {
    width: 110%;
    margin-left: -2.2vw;
    
}
#section1 h2 {
    position: fixed; left: 50%; top: 50%;
    transform: translate(130% ,-170%);
    font-size: 2.4vw; font-weight: 700;
    writing-mode: vertical-rl;
    text-orientation: upright;
}
#section1 h2 strong {
    display: block;
    
}
#section1 h2 strong:last-child {
    transform: translate(20%,38%);
}
#section1 p {
    position: fixed; left: 50%; top: 50%;
    transform: translate(-120%, 180%);
    font-family: 'Montserrat';
    font-size: 1vw;
    font-weight: 600;
}

/* section2 */
#section2 {
    width: 100%;
    position: relative;
}
#section2 h2 {
    position: fixed; left: 50%; top: 50%;
    transform: translate(-50%, -13vw);
    font-size: 2.4vw;
}
#section2 i {
    position: fixed;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 20vw;
    border: 1px solid #222;
    opacity: 0;
}
#section2 .txt {
    text-align: center;
    position: fixed;
    left: 50%; top: 50%;
    transform: translate(-50%, 12vw);
    font-size: 1vw; font-weight: 500;
    color: #333;
    opacity: 0;
}
#section2 .a-circle {
    position: fixed; left: 50%; top: 50%;
    transform: translate(-50%,-50%) scale(1);
    width: 48vw; height: 15vw;
    margin: 0 auto;
    display: flex; justify-content: space-between;
    transform-origin: center center;
}

#section2 .a-circle  p {
    text-align: center;   
    line-height: 15vw;
    font-size: 2vw; font-weight: 600;
}

#section2 .a-circle .circle1 {
    width: 15vw; height: 15vw;
    border-radius: 50%;
    border: 1px solid #000;
    background: #fff;
}
#section2 .a-circle .circle2 {
    width: 15vw; height: 15vw;
    border-radius: 50%;
    border: 1px solid #000;
    background: #fff;
}

/* section3 */
#section3 {
    width: 100%; height: 100vh;
    overflow: hidden;
    background: #fff;
    position: relative;
}
#section3 .section3-wrap {
    position: absolute; left: 0; top: 0;
    width: 100%; height: 100%;
    background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
}
#section3 .circle1 {
    position: fixed; left: 50%; top: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 20vw; height: 20vw;
    border : 1px solid #222;
    border-radius: 50%;
    background: #fff;
    box-shadow: -12px 3px 28px rgba(0, 0, 0, 0.25);
}
#section3 .temp{
    position: fixed; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5vw;
    font-weight: 700;
    opacity: 0;
}
#section3 .circle2{
    position: fixed; left: 50%; top: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 40vw; height: 40vw;
    border : 1px solid rgba(0,0,0,0.2);
    border-radius: 50%;
    background: #fff;
    z-index: -8;
    box-shadow: -8px 6px 19px rgba(0, 0, 0, 0.25);
}

#section3 .fall{
    position: fixed; left: 50%; top: 50%;
    transform: translate(-50%, -450%);
    font-size: 2.4vw;
    font-weight: 700;
    white-space: nowrap;
    opacity: 0;
}
#section3 .circle3 {
    position: fixed; left: 50%; top: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 65vw; height: 65vw;
    border : 1px solid rgba(0,0,0,0.2);
    border-radius: 50%;
    background: #fff;
    z-index: -9;
    box-shadow: -9px 8px 25px rgba(0, 0, 0, 0.25);
}
#section3 .circle4 {
    position: fixed; left: 50%; top: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 90vw; height: 90vw;
    border : 1px solid rgba(0,0,0,0.2);
    border-radius: 50%;
    background: #fff;
    z-index: -10;
    box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.25);
}
#section3 .ch {
    text-align: center;
    position: fixed; left: 50%; top: 50%;
    transform: translate(-50%, 250%);
    font-weight: 500;
    font-size: .8vw;
    opacity: 0;
}
#section3 .gain{
    position: fixed; left: 50%; top: 50%;
    transform: translate(6vw, -14vw);
    font-size: 2.4vw;
    font-weight: 700;
}
#section3 .gain span {
    opacity: 0;
}
#section3 .gce {
    position: fixed; left: 50%; top: 50%;
    transform: translate(8vw, -11vw);
    font-size: 1.5vw; font-weight: 700;
    color: #ebebeb;
    opacity: 0;
}
#section3 .main-ex {
    position: fixed; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5vw; font-weight: 700;
    opacity: 0;
}
#section3 .about {
    position: fixed; left: 50%; top: 50%;
    transform: translate(14vw , 14vw);
    font-size: 3vw; font-weight: 700;
}
#section3 .ex {
    position: fixed; left: 50%; top: 50%;
    transform: translate(-28vw, 4vw);
    font-size: 2vw; font-weight: 600;
    opacity: 0;
}
#section3 .ex-p {
    position: fixed; left: 50%; top: 50%;
    transform: translate(-28vw, 8vw);
    font-size: 1vw;
    opacity: 0;
}
#section3 .about {
    position: fixed; left: 50%; top: 50%;
    transform: translate(0vw , 14vw);
    font-size: 3vw; font-weight: 700;
    opacity: 0;
}

/* footer */
#footer {
    position: fixed; left: 20px; bottom: 20px;
}
#footer ul {
    display: flex;
}
#footer li a {
    padding-right: 10px;
}
#footer .img {
    width: 2vw;
}
#footer address {
    margin: 10px 0 0;
}




/* //main-page */



/* about */

/* header */
#header-tit .header-tit {
    line-height: 2.5vw;
    width: 66.6666%;
    margin: 1em auto 3vw;
    margin-top: 150px;
}
#header-tit .header-tit span {
    font-weight: 700;
    font-size: 3vw;
}



/* ct */
#ct {
position: relative;
height: 120vh;
}
#ct #a-content .a-content {
    width: 66.6666%;
    margin-left: 16vw;
    text-align: end;    
}
#ct #a-content .a-content h2 {
    font-size: 3vw; font-weight: 800;
    color: #E5E5E5;
}
#ct .cWrap {
    width: 48vw; height: auto;
    margin: 0 auto;
    margin-top: 50px;
    display: flex; justify-content: space-between;
    position: relative;
}

#ct .cWrap .circle {
    position: relative;
    text-align: center;
    width: 15vw; height: 15vw;
    border: 1px solid #000;
    border-radius: 50%;
    background: #fff;
}
#ct .cWrap::before {
    content: '';
    position: absolute; left: 50%;  bottom: 50%;
    transform: translate(-16.6vw, 14.5vw);
    width: 33.1vw; height: 3px;
    background: #000;
}
#ct .cWrap .circle::before {
    content: '';
    position: absolute; left: 14.9vw; top: 50%;
    width: 2vw; height: 3px;
    background: #000;
}
#ct .cWrap .circle > div::before {
    content: '';
    position: absolute; left: 50%; bottom: 50%;
    transform: translate(-50%, 18.9vw);
    border-top: 10px solid #000;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
#ct .cWrap .circle > div > span::before {
    content: '';
    position: absolute;
    left: 50%; bottom: 50%; 
    width: 3px; height: 4vw;
    transform: translate(-50%, 18.5vw);
    background: #000;
}
#ct .cWrap .circle:last-child::before {
    display: none;
}
#ct .cWrap .circle::after {
    content: '';
    position: absolute; left: 50%; bottom: 50%;
    transform: translate(-.1vw, 14.45vw);
    width: 3px; height: 2vw;
    background: #000;
}
#ct .cWrap .circle:nth-child(1)::after {
    transform: translate(-0.1vw, 14.45vw);
}
#ct .cWrap .circle:nth-child(2)::after {
    display: none;   
}
#ct .cWrap .circle h3 {
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em; font-weight: 700;
}
#ct .cWrap .circle h3 span {
    font-weight: normal;
}
/* //cWrap */

#a-circle {
    width: 50vw; margin: 0 auto;
}
#a-circle .a-circle1 {
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, 10vw);
    width: 15vw; height: 15vw;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    background-color: #fff;
    box-shadow: 8px 9px 58px rgba(0, 0, 0, 0.25);
    font-size: 1.5vw; font-weight: 700;
    z-index: 100;
}
#a-circle .a-circle2 {
    position: absolute; left: 50%; top: 50%;
    transform: translate(3.5vw, 9vw);
    width: 6vw; height: 6vw;
    border-radius: 50%;
    text-align: center;
    background-color: #e6e6e6;
}
#a-circle .a-circle3 {
    position: absolute; left: 50%; top: 50%;
    transform: translate(-21vw, 14vw);
    width: 8vw; height: 8vw;
    border-radius: 50%;
    text-align: center;
    background-color: #e6e6e6;
    font-size: .9vw;
}
#a-circle .a-circle4 {
    position: absolute; left: 50%; top: 50%;
    transform: translate(-10vw, 20vw);
    width: 7vw; height: 7vw;
    border-radius: 50%;
    text-align: center;
    background-color: #e6e6e6;
    font-size: .9vw;
}
#a-circle .a-circle5 {
    position: absolute; left: 50%; top: 50%;
    transform: translate(12.5vw, 18vw);
    width: 8vw; height: 8vw;
    border-radius: 50%;
    text-align: center;
    background-color: #e6e6e6;
    font-size: .9vw;
}
#a-circle .a-circle .ab-circle {
    position: relative;
}
#a-circle .a-circle1 .ab-circle .a-desc {
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}
#a-circle .a-circle2 .ab-circle .a-desc {
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}
#a-circle .a-circle3 .ab-circle .a-desc {
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}
#a-circle .a-circle4 .ab-circle .a-desc {
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}
#a-circle .a-circle5 .ab-circle .a-desc {
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}

/* //ct */

#skill {
    margin-top: 130px;
}
#skill .skill {
    width: 66vw;height: 100vh;
    margin: 0 auto;
    position: relative;
}
#html {
    margin-bottom: 100px;

}
#html .da {
    position: absolute; right: 0; top: -50px;
    font-size: 4.5vw; font-weight: 700;
    line-height: 60px; color: #e5e5e5;
    text-align: right;
}
#html .html h2 {
    position: relative;
    font-size: 4.5vw; font-weight: 700;
    margin-bottom: 100px;
}
#html .html h2::before {
    position: absolute; left: 50%; top: 50%;
    transform: translate(-660% ,-650%);
    content: '';
    width: 5vw; height: .8vw;
    background-color: #000;
}
#html .html h3 {
    font-size: 2vw; font-weight: 700;
    margin-bottom: 30px;
}
#html .html h3 .design {
    color: #e5e5e5;
}
#html .html .html-desc {
    font-size: 1vw;
    color: #212121;
    margin-bottom: 80px;
}
#html .html .core {
    border-left: 2px solid #222;
    padding-left: 20px;
}
#html .html .core h4 {
    font-size: 1.5vw; font-weight: 700;
    padding-bottom: 30px;
}
#html .html .core h4 span {
    color: #e5e5e5;
}
#html .html .core p {
    font-size: 1vw; font-weight: 600;
    color: #434343;
}
/* //html */



.css {
    margin-bottom: 100px;
    position: absolute; right: 35px; top: 200px;
}
.css h2 {
    font-size: 4.5vw; font-weight: 700;
    position: relative;
    margin-bottom: 100px;
}
.css h2::before {
    position: absolute; left: 50%; top: 50%;
    transform: translate(-310%, -650%);
    content: '';
    width: 5vw; height: 0.8vw;
    background-color: #000;
}
.css h3 {
    font-size: 2vw; font-weight: 700;
    margin-bottom: 30px;
}
.css h3 .decorate {
    color: #e5e5e5;
}
.css .css-desc {
    font-size: 1vw;
    color: #212121;
    margin-bottom: 80px;
}
.css .core {
    border-left: 2px solid #222;
    padding-left: 20px;
}
.css .core h4 {
    font-size: 1.5vw; font-weight: 700;
    padding-bottom: 30px;
}
.css .core h4 span {
    color: #e5e5e5;
}
.css .core p {
    font-size: 1vw; font-weight: 600;
    color: #434343;
}

/* //css */

.javascript {} 
.javascript h2 {
    position: relative;
    font-size: 4.5vw; font-weight: 700;
    margin-bottom: 100px;
}
.javascript h2::before {
    position: absolute; left: 50%; top: 50%;
    transform: translate(-660% ,-650%);
    content: '';
    width: 5vw; height: .8vw;
    background-color: #000;
}
.javascript h3 {
    font-size: 2vw; font-weight: 700;
    margin-bottom: 30px;
}
.javascript h3 .active {
    color: #e5e5e5;
}
.javascript .javascript-desc {
    font-size: 1vw;
    color: #212121;
    margin-bottom: 80px;
}
.javascript .core {
    border-left: 2px solid #222;
    padding-left: 20px;
}
.javascript .core h4 {
    font-size: 1.5vw; font-weight: 700;
    padding-bottom: 30px;
}
.javascript .core h4 span {
    color: #e5e5e5;
}
.javascript .core p {
    font-size: 1vw; font-weight: 600;
    color: #434343;
}

/* //javascript */

.jquery {
    margin-bottom: 100px;
    position: absolute; right: -25px; top: 1000px;
}
.jquery h2 {
    font-size: 4.5vw; font-weight: 700;
    position: relative;
    margin-bottom: 100px;
}
.jquery h2::before {
    position: absolute; left: 50%; top: 50%;
    transform: translate(-345%, -650%);
    content: '';
    width: 5vw; height: 0.8vw;
    background-color: #000;
}
.jquery h3 {
    font-size: 2vw; font-weight: 700;
    margin-bottom: 30px;
}
.jquery h3 .efficiency {
    color: #e5e5e5;
}
.jquery .jquery-desc {
    font-size: 1vw;
    color: #212121;
    margin-bottom: 80px;
}
.jquery .core {
    border-left: 2px solid #222;
    padding-left: 20px;
}
.jquery .core h4 {
    font-size: 1.5vw; font-weight: 700;
    padding-bottom: 30px;
}
.jquery .core h4 span {
    color: #e5e5e5;
}
.jquery .core p {
    font-size: 1vw; font-weight: 600;
    color: #434343;
}