

/* layout */




/* container */
.container {
    margin: 0 16.6666%;
/*    background: #ccc;*/
}

/* header */
#header {
    z-index: 100;
    position: fixed; left: 2vw; top: 2vw; 
    padding-bottom:  2.5vw;
}
#header h1 {
    font-size: 2vw; font-weight: 700;
    padding-bottom: 0.5vw;
}
#header h1 a {
    color: #e6e6e6;
    transition: all .3s ease;
}
#header h1 a:hover {
    color: #000;
}

#header ul {padding: 0;}
#header ul li {
    font-weight: bold;
    font-size: 1.7vw; padding-bottom: 20;
}
#header ul li a{
    color: #c2c2c2;
    transition: all .3s ease;
}
#header ul li a:hover {color: #000;}
#header ul li a span {color: #000;}


/* line */
.line {
    position: fixed; left: 0; top: 0;
    width: 100%; height: 100vh; z-index: -1;
    display: flex;
}
.line > div {
    flex-basis: 16.6666%;
    box-sizing: border-box;
    border-right: 1px solid #ccc;
    opacity: .3;
}

/* header */
#header {
    position: fixed; left: 20px; top: 20px;
}

/* footer */
#footer {
    position: fixed; left: 20px; bottom: 20px;
}

/* site-sec1 */
.site-sec1 {
    padding: 10vw 0;
}

.site-sec1 h2 {
    font-size: 3.5vw;
    line-height: 1.2;
    font-weight: 700;
    font-family: 'Noto Sans KR', sans-serif;
}

.site-sec1 h2 strong {
    display: block;
    font-weight: 700;
}
.site-sec1 .list {
    padding: 40px 0;
}
.site-sec1 .list li {
    display: inline-block;
    margin-right: 40px;
    font-size: 16px;
    text-transform: capitalize;
}
.site-sec1 .list li:first-child {
    border-bottom: 2px solid #000;
}

.site-wrap {
    margin-top: 10vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.site-wrap .site {
    width: 60%; height: 400px;
    margin-bottom: 20vw;
}
.site-wrap .site figure {
    cursor: pointer;
}
.site-wrap .site span {
    font-family: "Montserrat";
    font-size: 16px; font-weight: 200;
    margin-top: 20px;
    display: block;
    font-weight: 300;
}
.site-wrap .site h3 {
    font-size: 35px; 
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 600;
}
.site-wrap .site:nth-child(odd) {
    margin-left: auto;
}




/* layer popup */
.layer-site {
    background: #31364A;
    width: 0; height: 0;
    position: fixed; left: 0; top: 0;
    z-index: 1000;
    visibility: hidden;
    transition: all 0.33s ease;
}
.layer-site .cont {
     padding: 5vw 10vw;
}
.layer-site .cont .circle {
    position: absolute; left: 1%; bottom: -60%;
    width: 80vw; height: 80vw;
    border-radius: 50%;
    background: #272B3C;
    z-index: -1;
}
.layer-site .cont .code-view {
    width: 70vw; height: 800px;
    background: #1D2028;
    color:#fff;
    position: relative;
}
.layer-site .cont .code-view > div {
    position: absolute; left: 0; top: 0;
    width: 100%; height: 100%;
    display: none;
}
.layer-site .cont .code-view > div.active{
    display: block;
}

.layer-site .cont .code-list {
    position: absolute; right: 10vw; top: 50%;
}
.layer-site .cont .code-list li a {
    color: #fff;
}
.layer-site .cont .code-list li.active {
    background: #fff;
}
.layer-site .cont .code-list li.active a {
    background: #000;
}
.layer-site .cont h3 {
    color: #fff;
    font-size: 3vw;
    position: relative;
    z-index: 10;
    text-transform: uppercase;
    padding-bottom: 4vw;
}
.layer-site .cont .close {
    position: absolute; right: 20px; top: 20px;
    color: #fff;
}


/* animation */
.layer-site {width: 0; height: 0;}
.layer-site .cont .circle {bottom: -100%; opacity: 0;}
.layer-site .cont h3 {opacity: 0;}
.layer-site .cont .code-view {opacity: 0;}
.layer-site .cont .code-list li a {opacity: 0;}

.layer-site.show {width: 100%; height: 100vh; visibility: visible; transition: all 0.33s ease;}
.layer-site.show .cont .circle {bottom: -60%; opacity: 1; transition: all 0.33s 0.4s ease;}
.layer-site.show .cont h3 {opacity: 1; transition: all 0.33s 0.8s ease;}
.layer-site.show .cont .code-view {opacity: 1; transition: all 0.33s 1.2s ease;}
.layer-site.show .cont .code-list li:nth-child(1) a {opacity: 1; transition: all 0.33s 1.5s ease;}
.layer-site.show .cont .code-list li:nth-child(2) a {opacity: 1; transition: all 0.33s 1.6s ease;}
.layer-site.show .cont .code-list li:nth-child(3) a {opacity: 1; transition: all 0.33s 1.7s ease;}
.layer-site.show .cont .code-list li:nth-child(4) a {opacity: 1; transition: all 0.33s 1.8s ease;}
.layer-site.show .cont .code-list li:nth-child(5) a {opacity: 1; transition: all 0.33s 1.8s ease;}







