/* layout */
@charset "utf-8";
* {box-sizing: border-box;}
#wrap {margin-bottom: 15vw;}
body {overflow: hidden;}
.container {
    margin: 0 16.6666%;
}


/* loading */

/** BEGIN CSS **/
@keyframes rotate-loading {
    0%  {transform: rotate(0deg);}
    100% {transform: rotate(360deg)}
}

@keyframes rotate-loading {
    0%  {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@keyframes loading-text-opacity {
    0%  {opacity: 0}
    20% {opacity: 0}
    50% {opacity: 1}
    100%{opacity: 0}
}
.loading-wrap {
    position: fixed; left: 0; top: 0; width: 100%; height: 100vh;
    background: #fff; z-index: 1000;
}
.loading {
    height: 100px;
    position: relative;
    width: 100px;
    border-radius: 100%;
}


.loading-container { 
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}

.loading {
    border: 2px solid transparent;
    border-color: transparent #000 transparent #000;
    animation: rotate-loading 1.5s linear 0s infinite normal;
    transform-origin: 50% 50%;
}

.loading-container:hover .loading {
    border-color: transparent #E45635 transparent #E45635;
}
.loading-container:hover .loading,
.loading-container .loading {
    transition: all 0.5s ease-in-out;
}

#loading-text {
    animation: loading-text-opacity 2s linear 0s infinite normal;
    color: #000;
    font-size: 10px;
    font-weight: bold;
    margin-top: 45px;
    opacity: 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    width: 100px;
}
/* //loading */



.line {
    position: fixed; left: 0; top: 0;
    width: 100%; height: 100vh;
    display: flex;
    z-index: -11;
}

.line > div {
    flex-basis: 16.6666%;
    border-right: 1px solid #e9e9e9;
    
}


/* header */
#header {
    z-index: 100;
    position: fixed; left: 2vw; top: 2vw; 
    padding-bottom:  2.5vw;
}
#header h1 {
    font-size: 2vw; font-weight: 700;
    padding-bottom: 0.5vw;
}
#header h1 a {
    color: #e6e6e6;
    transition: all .3s ease;
}
#header h1 a:hover {
    color: #000;
}

#header ul {padding: 0;}
#header ul li {
    font-weight: bold;
    font-size: 1.7vw; padding-bottom: 20;
}
#header ul li a {
    color: #c2c2c2;
    transition: all .3s ease;
    
}
#header ul li a:hover {color: #000;}
#header ul li a span {color: #000;}
/* //header */

.site-tit {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 3vw; font-weight: 700;
    margin-top: 10vw;
    line-height: 3.5vw;
}
.site-tit span {
    opacity: 0; filter: blur(5px);
}
.site-menu li {
    display: inline-block;
    margin: 5vw 0 2vw 0;
    padding-left: 1vw;
}
.site-menu li:first-child {
    padding-left: 0;
}
.site-menu li a {
    font-size: 1.5vw;
    color: #6e6e6e;
    font-weight: 500;
    transition: all .2s ease;
    text-transform: capitalize;
}
.site-menu li a:hover {
    border-bottom: 3px solid #000;
}
.site-menu li a.active {
    color: #000;
    font-weight: 700; border-bottom: 3px solid #000;
}

/* section */

#section-wrap {
    display: flex;
    flex-direction: column;
}
#section {
    width: 65%;
    margin-bottom: 10vw;
    position: relative;
}
#section:nth-child(odd) {
    margin-left: auto;
}
#section h3 {
    margin-top: 1vw;
    font-size: 1vw;
    text-transform: uppercase;
    color: #585858;
}
#section p {
    font-size: 1.5vw; font-weight: 700;
    font-family: 'Noto Sans KR', sans-serif;
}
#section figure {
    transition: all 0.5s ease;
    cursor: pointer;
}
#section figure:hover {
    transform: scale(1.025);
}
.next-site {
    margin-left: 40vw;
    font-size: 3vw; font-weight: 600;
}
.next-site span {
    animation: flash 0.9s infinite;
}
@keyframes flash {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* layer-site */
.layer-site {
    width: 0; height: 0;
    z-index: 1000;
    position: fixed; left: 0; top: 0;
    background: #31364A;
    transition: all .33s ease;
    visibility: hidden;
}
.layer-site:nth-child(even) {
    width: 0; height: 0;
    z-index: 1000;
    position: fixed; right: 0; top: 0;
    background: #31364a;
    transition: all .33s ease;
    visibility: hidden;
}
.layer-site:nth-child(even).show {
    width: 100vw; height: 100vh;
    visibility: visible;
    transition: all .33s ease;
}
.layer-site.show {
    width: 100vw; height: 100vh;
    visibility: visible;
    transition: all .33s ease;
}
.layer-site .cont {
    width: 100vw; height: 100vh;
    padding: 5vw 10vw;
}
.layer-site .cont .tit {
    font-size: 3vw; font-weight: bold;
    color: #fff; text-transform: uppercase;
    padding-bottom: 4vw;
}
.layer-site .cont .circle {
    position: absolute; left: -1%; bottom: -60%;
    width: 80vw; height: 80vw;
    background: #272B3C;
    border-radius: 50%;
    z-index: -1;
}
.layer-site .close {
    cursor: pointer;
}
.layer-site .close::before {
    content: '';
    position: absolute; right: 2%; top: 5%;
    width: 2vw; height: 5px; background: #fff;
    transform: rotate(-45deg);
    transition: transform .5s ;
}
.layer-site .close::after {
    content: '';
    position: absolute; right: 2%; top: 5%;
    width: 2vw; height: 5px; background: #fff;
    transform: rotate(45deg);
    transition: transform .5s ;
}
.layer-site .close:hover::before {
    transform: rotate(45deg);
}
.layer-site .close:hover::after {
    transform: rotate(-405deg);
}

/* 애니메이션 */
.layer-site {width: 0; height: 0;}
.layer-site .cont .circle {bottom: -100%; opacity: 0;}
.layer-site .cont .tit {opacity: 0;}
.layer-site .cont .code-view {opacity: 0;}
.layer-site .cont .cont-title {opacity: 0;}
.layer-site .cont .code-view pre {opacity: 0;}
.layer-site .cont .code-view pre code {opacity: 0;}

.code-view .cont-title .menu li a {opacity: 0;}
.code-view .cont-title .menu li.active {opacity: 0;}
.code-view .cont-title .menu li.active a {opacity: 0;}



.layer-site.show {width: 100%; height: 100vh; visibility: visible; transition: all 0.33s ease;}
.layer-site.show .cont .circle {bottom: -60%; opacity: 1; transition: all 0.33s 0.4s ease;}
.layer-site.show .cont .tit {opacity: 1; transition: all 0.33s 0.8s ease;}
.layer-site.show .cont .code-view {opacity: 1; transition: all 0.33s 0.2s ease;}
.layer-site.show .cont .cont-title {opacity: 1; transition: all 0.33s 0.2s ease;}
.layer-site.show .cont .code-view pre{opacity: 1; transition: all 0.33s 0.2s ease;}
.layer-site.show .cont .code-view pre code {opacity: 1; transition: all 0.33s 0.2s ease;}

.code-view .cont-title .menu li a {opacity: 1; transition: all 0.33s 0.2s ease;}
.code-view .cont-title .menu li.active {opacity: 1;transition: all 0.33s 0.2s ease; }
.code-view .cont-title .menu li.active a {opacity: 1;transition: all 0.33s 0.2s ease; }
/* //애니메이션 */
/* //layer-site */






/* code-view */
.code-view {
    width: 75vw; height: 800px;
    background: #011627;color:#fff;
    position: relative;border-radius: 5px;
}

.code-view .cont-title {height: 44px; width: 100%;background: #010E1A;border-radius: 5px;display: flex;flex-direction: row;}
.code-view .cont-title .dot {padding: 14px;}
.code-view .cont-title .dot span {
    display: inline-block; width: 12px; height: 12px; border-radius: 50%; margin: 0px 4px;
}
.code-view .cont-title .dot span:nth-child(1) {background: #FF4A4A;}
.code-view .cont-title .dot span:nth-child(2) {background: #FFB83D;}
.code-view .cont-title .dot span:nth-child(3) {background: #00C543;}
.code-view .cont-title .menu ul {overflow: hidden;}
.code-view .cont-title .menu li {float: left;}
.code-view .cont-title .menu li.active {background: #383E4A;}
.code-view .cont-title .menu li a {color: #8E9093; padding: 12px 16px; display: block; border-right: 1px solid rgba(255,255,255,.1);}
.code-view .cont-title .menu li a:first-child {
    border-left: 1px solid rgba(255,255,255,.1);
}
.code-view .cont-title .menu li.active a {color: #fff;}
.code-view .cont-title .theme {
    position: relative;
    color: #8E9093; margin-left: auto; 
    text-align: center;
    font-weight: bold;
}
.code-view .cont-title .theme .fa, .fas {
    margin-left: 20px;padding: 15px 16px;
    cursor: pointer;
}
.code-view .cont-title .theme .fa, .fas:hover {
    border-radius: 0 5px 0 0;
    background: rgba(255,255,255,0.1);
}
.code-view .cont-title .theme .set-wrap {
    width: 100%;
    position: absolute; right: 0; top: 100%;
    z-index: 1;
    font-weight: normal;
}
.code-view .cont-title .theme .set-wrap .theme-set {
    background: #092E4B;
    display: none; 
    border-bottom: 1px solid rgba(255,255,255,.5);
}
.code-view .cont-title .theme .set-wrap .theme-set:last-child {
    border-bottom: 0px;
}
.code-view .cont-title .theme .set-wrap .theme-set:hover {
    background: rgba(0,0,0,0.5);
}
.code-view .cont-title .theme .set-wrap .theme-set.show {display: block;}
.code-view .cont-title .theme .set-wrap .theme-set a{color: #fff;}

.code-view .code-cont {position: relative;}
.code-view .code-cont > div {
    position: absolute; left: 0; top: 0; width: 100%; height:650px; display: none; box-sizing: border-box;
    overflow-y: scroll;
}

.code-view .code-cont > div.active {display: block;}



/* //code-view */

/* night owl */
.code-view.night-owl {
    background: #011627;color:#fff;
}

.code-view.night-owl .cont-title {background: #010E1A;}

.code-view.night-owl .cont-title .menu li.active {background: #0B2942;}
.code-view.night-owl .cont-title .menu li a {color: #286C97;}
.code-view.night-owl .cont-title .menu li.active a {color: #D2DEE7;}
.code-view.night-owl .cont-title .theme {
    color: #5F7E97;
}
.code-view.night-owl .cont-title .theme .set-wrap .theme-set {
    background: #092E4B;;
}
.code-view.night-owl .cont-title .theme .set-wrap .theme-set a{color: #fff;}
.code-view.night-owl .cont-title .theme .fa, .fas:hover {
    background: rgba(255,255,255,.2);
}

/* //night owl */



/* over-night-owl */
.code-view.over-night-owl {background: #282c34;}
.code-view.over-night-owl .cont-title {background: #21252B;}

.code-view.over-night-owl .cont-title .menu li.active {background: #383E4A;}
.code-view.over-night-owl .cont-title .menu li a {color: #8E9093;}
.code-view.over-night-owl .cont-title .menu li.active a {color: #fff;}
.code-view.over-night-owl .cont-title .theme {
    color: #fff;
}
.code-view.over-night-owl .cont-title .theme .set-wrap .theme-set {
    background: #485061;
}
.code-view.over-night-owl .cont-title .theme .set-wrap .theme-set a{color: #fff;}
.code-view.over-night-owl .cont-title .theme .fa, .fas:hover {
    background: rgba(255,255,255,.2);
}

/* //over-night-owl */

/* white */
.code-view.white {
    background: #fff;color:#000;
}

.code-view.white .cont-title {background: #ECECEC;}

.code-view.white .cont-title .menu li.active {background: #fff;}
.code-view.white .cont-title .menu li a {color: #000;}
.code-view.white .cont-title .menu li.active a {color: #000;}
.code-view.white .cont-title .theme {
    color: #403F53;
}
.code-view.white .cont-title .theme .set-wrap .theme-set{
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,.5);
}
.code-view.white .cont-title .theme .set-wrap .theme-set:hover {
    background: rgba(0,0,0,.5);
}
.code-view.white .cont-title .theme .set-wrap .theme-set:last-child {
    border-bottom: 0px;
}
.code-view.white .cont-title .menu li a {border-right: 1px solid rgba(0,0,0,.2);}
.code-view.white .cont-title .menu li a:first-child {
    border-left: 1px solid rgba(0,0,0,.2);
}
.code-view.white .cont-title .theme .set-wrap .fa, .fas:hover {
    background: rgba(0,0,0,.5);
}
.code-view.white .cont-title .theme .set-wrap .theme-set a {
    color: #000;
}
/* //white */



/* footer */
#footer {
    position: fixed; left: 20px; bottom: 20px;
}
#footer ul {
    display: flex;
}
#footer li a {
    padding-right: 10px;
}
#footer .img {
    width: 2vw;
}
#footer address {
    margin: 10px 0 0;
}




/* codepenBtn */

.codepenBtn {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 0;
    transition: all .3s ease-out;
}
  
.text {
    padding: 0 50px;
    visibility: hidden;
}

.front, 
.back {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform-style: flat;
    transition: transform .3s ease-out;
}

.front {
    color: #313131;
    border: 2px solid #313131;
    background-color: transparent;
    transform: rotateX(0deg) translateZ(25px);
}

.back {
color: #fff;
background-color: #313131;
border: 2px solid #313131;
transform: rotateX(90deg) translateZ(25px);
}

.codepenBtn:hover .front {
    transform: rotateX(-90deg) translateZ(25px);
}
  
.codepenBtn:hover .back {
    transform: rotateX(0deg) translateZ(25px);
}


/* //codepenBtn */


