/* layout */
@charset "utf-8";
* {box-sizing: border-box;}
.container {
    margin: 0 16.6666%;
}

.line {
    position: fixed; left: 0; top: 0;
    width: 100%; height: 100vh;
    display: flex;
    z-index: -11;
}

.line > div {
    flex-basis: 16.6666%;
    border-right: 1px solid #e9e9e9;
    
}


/* header */
#header {
    z-index: 100;
    position: fixed; left: 2vw; top: 2vw; 
    padding-bottom:  2.5vw;
}
#header h1 {
    font-size: 2vw; font-weight: 700;
    padding-bottom: 0.5vw;
}
#header h1 a {
    color: #e6e6e6;
    transition: all .3s ease;
}
#header h1 a:hover {
    color: #000;
}

#header ul {padding: 0;}
#header ul li {
    font-weight: bold;
    font-size: 1.7vw; padding-bottom: 20;
}
#header ul li a {
    color: #c2c2c2;
    transition: all .3s ease;
    
}
#header ul li a:hover {color: #000;}
#header ul li a span {color: #000;}
/* //header */

.site-tit {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 3vw; font-weight: 700;
    margin-top: 10vw;
    line-height: 3vw;
}
.site-menu li {
    display: inline-block;
    margin: 5vw 0 2vw 0;
    padding-left: 1vw;
}
.site-menu li:first-child {
    padding-left: 0;
}
.site-menu li a {
    font-size: 1.5vw;
    color: #6e6e6e;
    font-weight: 500;
    transition: all .2s ease;
    text-transform: capitalize;
}
.site-menu li a:hover {
    border-bottom: 3px solid #000;
}
.site-menu li a.active {
    color: #000;
    font-weight: 700; border-bottom: 3px solid #000;
}

/* section */

#section-wrap {
    display: flex;
    flex-direction: column;
}
#section {
    width: 65%;
    margin-bottom: 10vw;
}
#section:nth-child(odd) {
    margin-left: auto;
}
#section h3 {
    margin-top: 1vw;
    font-size: 1vw;
    text-transform: uppercase;
    color: #585858;
}
#section p {
    font-size: 1.5vw; font-weight: 700;
    font-family: 'Noto Sans KR', sans-serif;
}
#section figure {
    transition: all 0.5s ease;
    cursor: pointer;
}
#section figure:hover {
    transform: scale(1.025);
}
.next-site {
    margin-left: 40vw;
    font-size: 3vw; font-weight: 600;
}
.next-site span {
    animation: flash 0.9s infinite;
}
@keyframes flash {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* layer-site */
.layer-site {
    width: 0; height: 0;
    z-index: 1000;
    position: fixed; left: 0; top: 0;
    background: #31364A;
    transition: all .33s ease;
    visibility: hidden;
}
.layer-site:nth-child(even) {
    width: 0; height: 0;
    z-index: 1000;
    position: fixed; right: 0; top: 0;
    background: #31364a;
    transition: all .33s ease;
    visibility: hidden;
}
.layer-site:nth-child(even).show {
    width: 100vw; height: 100vh;
    visibility: visible;
    transition: all .33s ease;
}
.layer-site.show {
    width: 100vw; height: 100vh;
    visibility: visible;
    transition: all .33s ease;
}
.layer-site .cont {
    width: 100vw; height: 100vh;
    padding: 5vw 10vw;
}
.layer-site .cont .tit {
    font-size: 3vw; font-weight: bold;
    color: #fff; text-transform: uppercase;
}
.layer-site .cont .circle {
    position: absolute; left: -1%; bottom: -60%;
    width: 80vw; height: 80vw;
    background: #272B3C;
    border-radius: 50%;
    z-index: -1;
}
.layer-site .close {cursor: pointer;}
.layer-site .close::before {
    content: '';
    position: absolute; right: 2%; top: 5%;
    width: 2vw; height: 5px; background: #fff;
    transform: rotate(-45deg);
}
.layer-site .close::after {
    content: '';
    position: absolute; right: 2%; top: 5%;
    width: 2vw; height: 5px; background: #fff;
    transform: rotate(45deg);
}


/* 애니메이션 */
.layer-site {width: 0; height: 0;}
.layer-site .cont .circle {bottom: -100%; opacity: 0;}
.layer-site .cont .tit {opacity: 0;}
.layer-site .cont .code-view {opacity: 0;}

.layer-site.show {width: 100%; height: 100vh; visibility: visible; transition: all 0.33s ease;}
.layer-site.show .cont .circle {bottom: -60%; opacity: 1; transition: all 0.33s 0.4s ease;}
.layer-site.show .cont .tit {opacity: 1; transition: all 0.33s 0.8s ease;}
.layer-site.show .cont .code-view {opacity: 1; transition: all 0.33s 1.2s ease;}

/* //layer-site */






/* code-view */
.code-view {
    margin-top: 5vw;
    position: relative; 
    width: 88vw; height: 100vh;
    background: #000;
    overflow: hidden;
    color: #fff;
    box-sizing: border-box;
}
.code-view .code-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%; height: 4%;
    background-color: #3c3c3c;
    align-items: center;
}
.code-view .code-header .nav-wrap {
    display: flex;
    align-items: center;
}
.code-view .code-header .nav-wrap .code-logo {
    width: 30px; height: 30px;
}
.code-view .code-header .nav-wrap > div {
    color: #cccc;
    opacity: 0.9;
    padding: 7px;
}
.code-view .code-header .nav-wrap > div:first-child:hover {
    background: #3c3c3c;
}
.code-view .code-header .nav-wrap > div:hover {
    background: rgba(255,255,255,.15);
    opacity: 1;
} 
.code-view .code-header .header-tit {
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}
.code-view .code-header .code-tit {
    color: #ccc;
    opacity: 0.9;
    display: none;
}
.code-view .code-header .code-tit.active {display: block;}


.code-view .code-header .esc {
    display: flex;
    justify-content: flex-end;
}
.code-view .code-header .esc .esc-icon {
    width: 15px; height: 15px;
    margin-right: 20px;
}
/* //code-header */

/* code-section */
.code-section {
    width: 100%; height: 96%;
    display: flex;
}
.code-section .icon-wrap {
    width: 5%; height: 100%;
    background: #333333;
}
.code-section .icon-wrap .icon-list {
    margin: 0 auto;
    width: 50%;
    padding-top: 25px;
    cursor: pointer;
}
.code-section .icon-wrap .icon-list:first-child{
    padding-top: 10px;
}
.code-section .list-wrap {
    padding-top: 3px;
    width: 10%; height: 95%;
    background-color: #252526;
}
.code-section .list-wrap .list {
    margin: 5px 5px;
    cursor: pointer;
}
.code-section .list-wrap .list:hover {
    background-color: #2a2d2e;
}
.code-section .list-wrap .list.active {
    background-color: #37373d;
}
.code-section .list-wrap .list:first-child {
    border-top: 1px solid #474747;
    border-bottom: 2px solid #151515;
    font-weight: bold;
    text-align: center;
}
.code-section .btn-wrap {
    display: none;
    width: 85%; height: 91%;
}
.code-section .btn-wrap.active {
    display: block;
}
.code-section .btn {
    width: 100%;
    background: #252526;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.code-section .btn .last-btn-wrap {
    display: flex;
}
.code-section .btn .last-btn-wrap .last-btn {
    cursor: pointer;
    padding: 8px;
    background-color: #2d2d2d;
    border-right: 1px solid #1e1e1e;
}
.code-section .btn .last-btn-wrap .last-btn.active {
    background-color: #1e1e1e;
}
.code-section .btn .bIconWrap {
    display: flex;
}
.code-section .btn .bIconWrap .bIcon {
    width: 15px; height: 15px;
    cursor: pointer;
    margin-right: 20px;
}



/* //code-section */






/* //code-view */







/* footer */
#footer {
    position: fixed; left: 20px; bottom: 20px;
}
#footer ul {
    display: flex;
}
#footer li a {
    padding-right: 10px;
}
#footer .img {
    width: 2vw;
}
#footer address {
    margin: 10px 0 0;
}


/* //site */

