* {margin: 0; padding: 0;}

body {
    background: #ccc;
}
/* header */
#header {
}
.header{
    .h-nav {
        padding: 0 40px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(255,255,255,.1);
        display: none;
        .h-left {
            li {
                display: inline;
                a {
                    padding: 10px 9px 3px;
                }
            }
        }
        .h-right {
            li {
                display: inline;
                a {
                    padding: 10px 9px 3px;
                }
            }
        }
    }
    .m-nav {
        padding: 25px 50px;
        display: flex;
        justify-content: space-between;
        .logo {
            position: relative;
            a {
                &::before {
                content: '';
                display: block;
                width: 114px;
                height: 19px;
                background: url(../img/logo.png);
                position: absolute; left: 0; top: 2px;
            }
        }
    }
}

    .nav-c {
        li {
            display: inline;
            a {
                width: 21px;
                color: #fff;
                font-size: 16px;
                padding: 27px 25px 30px;
            }
        }       
    }
    .nav-r {
        .side-nav {
            display: flex;
            li {
                a {
                    margin-right: 25px;
                    background: url(../img/all-icon.png);
                    width: 21px;
                    height: 21px;
                }
                a.search {
                    background-position: -360px -232px;
                }
                a.account {
                    background-position: -411px -232px;
                }
                a.menu {
                    background-position: -464px -232px;
                }
                
            }
        }
        
    }
}
#banner {
    position: relative;
    width: 100%;
    height: 750px;
    background: url(../img/banner-main1.jpg);
    .banner {
        
        .b-box {
            text-align: center;
            position: absolute; left: 50%; top: 50%;
            transform: translate(-50%, -50%); 
            .play {
                display: inline;
                cursor: pointer;
                outline: none;
                border:none; background:none; padding:0;
                width: 70px; height: 70px;
                background: url(../img/all-icon.png)no-repeat -102px -286px;
            }
            h2 {
                font-weight: bold;
                margin: 10px 0;
                font-size: 50px;
                color: #fff;
                letter-spacing: -2px;
            }
            .text {
                color: #fff;
                .t-rank {
                    font-size: 24px;
                }
                .t-kr {font-size: 16px; margin-right: 8px;}
            }
        }
        .mbanner {
            
        }
    }
}