* {
  margin: 0;
  padding: 0;
}

/* header */
.header .h-nav {
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: none;
}

.header .h-nav .h-left li {
  display: inline;
}

.header .h-nav .h-left li a {
  padding: 10px 9px 3px;
}

.header .h-nav .h-right li {
  display: inline;
}

.header .h-nav .h-right li a {
  padding: 10px 9px 3px;
}

.header .m-nav {
  z-index: 1;
  width: 1850px;
  position: fixed;
  padding: 25px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .m-nav .logo {
  position: relative;
}

.header .m-nav .logo a::before {
  content: '';
  display: block;
  width: 114px;
  height: 19px;
  background: url(../img/logo.png);
  position: absolute;
  left: 0;
  top: 2px;
}

.header .nav-c li {
  display: inline;
}

.header .nav-c li a {
  width: 21px;
  color: #fff;
  font-size: 16px;
  padding: 27px 25px 30px;
}

.header .nav-r .side-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .nav-r .side-nav li a {
  margin-right: 25px;
  background: url(../img/all-icon.png);
  width: 21px;
  height: 21px;
}

.header .nav-r .side-nav li a.search {
  background-position: -360px -232px;
}

.header .nav-r .side-nav li a.account {
  background-position: -411px -232px;
}

.header .nav-r .side-nav li a.menu {
  background-position: -464px -232px;
}

#banner {
  margin-bottom: 100px;
  position: relative;
  width: 100%;
  height: 800px;
  background: url(../img/banner-main1.jpg) no-repeat center center;
}

#banner:hover {
  -webkit-transition: all 1s;
  transition: all 1s;
}

#banner:hover div.slick-box .slick-prev {
  opacity: 1;
  height: 90px;
}

#banner:hover div.slick-box .slick-next {
  opacity: 1;
  height: 90px;
}

#banner::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  background-image: -webkit-gradient(linear, left top, right top, from(black), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0));
  z-index: 3;
}

#banner::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 200px;
  background-image: -webkit-gradient(linear, right top, left top, from(black), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to left, black, rgba(0, 0, 0, 0));
  z-index: 3;
}

#banner .banner .slick-box {
  color: #fff;
}

#banner .banner .slick-box .slick-prev {
  position: absolute;
  top: 50%;
  left: 20px;
  width: 90px;
  height: 0px;
  opacity: 0;
  background: url(../img/all-icon.png) no-repeat 0 0;
  z-index: 3;
}

#banner .banner .slick-box .slick-next {
  position: absolute;
  top: 50%;
  right: 20px;
  width: 90px;
  height: 0px;
  opacity: 0;
  background: url(../img/all-icon.png) no-repeat -120px 0;
  z-index: 5;
}

#banner .banner .mbanner {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#banner .banner .mbanner .play {
  display: inline;
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
  padding: 0;
  width: 70px;
  height: 70px;
  background: url(../img/all-icon.png) no-repeat -102px -286px;
}

#banner .banner .mbanner h2 {
  font-weight: bold;
  margin: 10px 0;
  font-size: 50px;
  color: #fff;
  letter-spacing: -2px;
}

#banner .banner .mbanner .text {
  color: #fff;
}

#banner .banner .mbanner .text .t-rank {
  font-size: 24px;
}

#banner .banner .mbanner .text .t-kr {
  font-size: 16px;
  margin-right: 8px;
}

#banner .banner .b-box {
  position: absolute;
  left: 50%;
  top: 75%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#banner .banner .b-box .b-item {
  position: relative;
  width: 175px;
  height: 250px;
}

#banner .banner .b-box .b-item:first-child {
  margin-right: 5px;
}

#banner .banner .b-box .b-item .front {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}

#banner .banner .b-box .b-item .front img {
  position: relative;
  width: 100%;
}

#banner .banner .b-box .b-item .front figcaption {
  position: absolute;
  left: 0;
  top: 0;
  margin-bottom: 39px;
  font-size: 24px;
  font-weight: bold;
  width: 45px;
  height: 40px;
  background: url(../img/all-icon.png) no-repeat -493px -629px;
  text-align: center;
  letter-spacing: -1px;
  color: #fff;
}

#banner .banner .b-box .b-item .back {
  position: absolute;
  left: 0;
  top: 0;
}

#banner .banner .b-box .b-item .back img {
  position: relative;
  width: 100%;
}

#banner .banner .b-box .b-item .back figcaption {
  position: absolute;
  left: 0;
  top: 0;
  margin-bottom: 39px;
  font-size: 24px;
  font-weight: bold;
  width: 45px;
  height: 40px;
  background: url(../img/all-icon.png) no-repeat -493px -629px;
  text-align: center;
  letter-spacing: -1px;
  color: #fff;
}

#banner .banner .b-box .b-item .back .b-text {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#banner .banner .b-box .b-item .back .b-text .text-box {
  margin: 0 0 10px 8px;
  padding-top: 15px;
  display: block;
  width: 125px;
  height: 45px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  font-size: 14px;
  color: #fff;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
}

#banner .banner .slick-dot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 75px;
  position: absolute;
  left: 50%;
  top: 95%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#banner .banner .slick-dot li .dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  outline: none;
  border: none;
}

#banner .banner .play-box {
  position: absolute;
  left: 53%;
  bottom: 3%;
  display: inline;
}

#banner .banner .play-box .btn-play {
  width: 8px;
  height: 15px;
  background: url(../img/all-icon.png) no-repeat -454px -119px;
  font-size: 0;
  outline: none;
  border: none;
  cursor: pointer;
}

.front {
  -webkit-transform: rotatey(0);
          transform: rotatey(0);
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.b-item:hover .front {
  -webkit-transform: rotatey(180deg);
          transform: rotatey(180deg);
}

.back {
  -webkit-transform: rotatey(-180deg);
          transform: rotatey(-180deg);
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
}

.b-item:hover .back {
  -webkit-transform: rotatey(0deg);
          transform: rotatey(0deg);
}

#content .content .magazine h2 {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}

#content .content .magazine-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

#content .content .magazine-box a .m-img {
  z-index: 1;
  display: block;
  margin-left: 30px;
  width: 380px;
}

#content .content .magazine-box a .box {
  z-index: 100;
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  margin: -50px 0 0 50px;
  padding: 20px;
}

#content .content .magazine-box a .box span {
  display: inline-block;
  font-size: 13px;
  padding-bottom: 4px;
  border-bottom: 1px solid #5b5b5b;
  letter-spacing: -1px;
}

#content .content .magazine-box a .box .t-up {
  padding-top: 10px;
  line-height: 1;
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 28px;
  letter-spacing: -1px;
  width: calc(100% - 30px);
}

#content .content .magazine-box a .box .t-down {
  font-size: 15px;
  color: #777;
}

#event {
  padding: 0 0 120px;
  margin-top: 70px;
  margin-bottom: 100px;
  height: 900px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4a9afe), to(#d8f1ff));
  background-image: linear-gradient(#4a9afe, #d8f1ff);
}

#event .event-img {
  background: url(../img/event-main.png) no-repeat center;
  height: 200px;
}

#event .event-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#event .event-up .box {
  width: 31%;
  padding-left: 2%;
}

#event .event-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#event .event-down .box {
  padding: 15px 0 0 37px;
  width: 20%;
}

#slide {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 200px;
}

#slide .slide {
  width: 1920px;
}

#slide .slide .text {
  text-align: center;
}

#slide .slide .text li {
  font-size: 19px;
  font-weight: bold;
  display: inline-block;
  padding: 0 0 10px 20px;
}

#slide .slide .text li:nth-child(1)::before {
  content: 'RANKING';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: bold;
  font-size: 140px;
  color: rgba(0, 0, 0, 0.1);
  z-index: -1;
}

#slide .next {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: 0;
  width: 90px;
  height: 90px;
  font-size: 0;
  background: url(../img/all-icon.png) no-repeat -120px 0;
  z-index: 3;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  cursor: pointer;
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

#slide .prev {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: 0;
  width: 90px;
  height: 90px;
  font-size: 0;
  background: url(../img/all-icon.png) no-repeat 0 0;
  z-index: 3;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  cursor: pointer;
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

#slide .more-wrap {
  margin-top: 50px;
  text-align: center;
}

#slide .more-wrap .more {
  padding-bottom: 4px;
  display: inline-block;
  font-size: 15px;
  vertical-align: top;
  border-bottom: 1px solid #2b2b2b;
}

.swiper-container {
  margin-top: 100px;
}

.swiper-container .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.swiper-container .swiper-wrapper::before {
  content: '';
  position: absolute;
  top: -20px;
  bottom: -20px;
  left: 0;
  width: 300px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(35%, whitesmoke), to(rgba(245, 245, 245, 0)));
  background-image: linear-gradient(to right, whitesmoke 35%, rgba(245, 245, 245, 0));
  z-index: 2;
}

.swiper-container .swiper-wrapper::after {
  content: '';
  position: absolute;
  top: -20px;
  bottom: -20px;
  right: 0;
  width: 300px;
  background-image: -webkit-gradient(linear, right top, left top, color-stop(35%, whitesmoke), to(rgba(245, 245, 245, 0)));
  background-image: linear-gradient(to left, whitesmoke 35%, rgba(245, 245, 245, 0));
  z-index: 2;
}

.swiper-container .swiper-wrapper .slides {
  margin-right: 1%;
}

.swiper-container .swiper-wrapper .slides .swiper-slide {
  width: 256px;
}

#video {
  position: relative;
  width: 100%;
  height: 550px;
  background: url(../img/v-img1.jpg) no-repeat center;
  margin-bottom: 150px;
}

#video .video .v-text {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#video .video .v-text .play {
  display: inline;
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
  padding: 0;
  width: 70px;
  height: 70px;
  background: url(../img/all-icon.png) no-repeat -102px -286px;
}

#video .video .v-text h2 {
  padding-bottom: 15px;
  font-size: 50px;
  color: #fff;
}

#video .video .v-text p {
  font-size: 18px;
  font-weight: 200;
  color: #fff;
}

#video .video .v-text2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 50%;
  bottom: 40px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#video .video .v-text2 .v-box {
  text-align: center;
  font-size: 17px;
  color: #fff;
  margin: 0 20px;
}

#main-title {
  width: 1200px;
  margin: auto;
}

#main-title .main-title {
  width: 100%;
  height: 700px;
  position: relative;
}

#main-title .main-title .title h2 {
  font-size: 40px;
  text-align: center;
  color: #2b2b2b;
  font-weight: bold;
}

#main-title .main-title .t-item {
  margin-top: 100px;
  position: absolute;
  left: 0;
  top: 0;
}

#main-title .main-title .t-item .t-img {
  position: relative;
}

#main-title .main-title .t-item .t-img a {
  display: block;
  width: 1200px;
  background: #000;
}

#main-title .main-title .t-item .t-img a img {
  width: 900px;
}

#main-title .main-title .t-item .t-box {
  position: absolute;
  left: 50px;
  bottom: calc(100% / 8);
  color: #fff;
}

#main-title .main-title .t-item .t-box div.t1 span {
  padding-bottom: 6px;
  display: inline-block;
  font-size: 18px;
  border-bottom: 1px solid #fff;
}

#main-title .main-title .t-item .t-box div.t2 {
  font-size: 40px;
}

#main-title .main-title .t-list {
  position: absolute;
  top: 80px;
  right: 60px;
}

#main-title .main-title .t-list .list-box {
  position: relative;
  display: block;
  padding-bottom: 10px;
}

#main-title .main-title .t-list .list-box img {
  width: 335px;
  height: 156px;
}

#main-title .main-title .t-list .list-box .td {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  left: 10px;
  bottom: 20px;
  font-size: 20px;
  color: #fff;
}

#main-title .main-title .t-list .list-box .td .l-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#main-title .main-title .t-list .list-box .td .list-down {
  display: block;
  width: 30px;
  height: 30px;
  background: url(../img/all-icon.png) no-repeat -394px -120px;
}

#notice .notice {
  width: 1200px;
  margin-bottom: 100px;
}

#notice .notice .main-notice {
  position: relative;
  border-bottom: 2px solid #2b2b2b;
  margin-bottom: 100px;
}

#notice .notice .main-notice p {
  padding-bottom: 15px;
}

#notice .notice .main-notice p .big {
  font-size: 24px;
  font-weight: bold;
}

#notice .notice .main-notice p .small {
  margin-left: 30px;
  font-size: 16px;
  color: #2b2b2b;
}

#notice .notice .main-notice a.more {
  position: absolute;
  bottom: 20px;
  right: 0;
  width: 20px;
  height: 20px;
  background: url(../img/all-icon.png) no-repeat -580px -119px;
}

#notice .notice .notice-ban {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#notice .notice .notice-ban img {
  position: relative;
}

#notice .notice .notice-ban a {
  position: relative;
  overflow: hidden;
  display: block;
  padding-right: 2%;
}

#notice .notice .notice-ban a img {
  height: 170px;
}

#notice .notice .notice-ban a .n-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
}

#notice .notice .notice-ban a .n-text .u-text {
  padding-bottom: 5px;
  display: inline-block;
  border-bottom: 1px solid #fff;
  font-size: 14px;
}

#notice .notice .notice-ban a .n-text .d-text {
  font-size: 20px;
  padding: 5px 0 0 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#notice .notice .info {
  margin-top: 100px;
}

#notice .notice .info .info-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#notice .notice .info .info-text a span {
  font-size: 14px;
  font-weight: bold;
}

#notice .notice .info .info-text a.ic {
  display: block;
}

#notice .notice .info .info-text a.ic::after {
  content: '';
  display: block;
  background: url(../img/all-icon.png) no-repeat 0 0;
}

#notice .notice .info .info-text a.i1 {
  padding: 0 59px 0 0;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

#notice .notice .info .info-text a.i1::after {
  margin: 12px auto 0;
  width: 48px;
  height: 48px;
  background: url(../img/all-icon.png) no-repeat 0 -382px;
}

#notice .notice .info .info-text a.i2 {
  padding: 0 58px 0 68px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

#notice .notice .info .info-text a.i2::after {
  margin: 16px auto 0;
  width: 49px;
  height: 44px;
  background: url(../img/all-icon.png) no-repeat -78px -382px;
}

#notice .notice .info .info-text a.i3 {
  padding: 0 59px 0 62px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

#notice .notice .info .info-text a.i3::after {
  margin: 15px auto 0;
  width: 54px;
  height: 38px;
  background-position: -157px -382px;
}

#notice .notice .info .info-text a.i4 {
  padding: 0 54px 0 55px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

#notice .notice .info .info-text a.i4::after {
  margin: 14px auto 0;
  width: 41px;
  height: 42px;
  background-position: -241px -382px;
}

#notice .notice .info .info-text a.i5 {
  padding: 0 53px 0 50px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

#notice .notice .info .info-text a.i5::after {
  margin: 13px auto 0;
  width: 42px;
  height: 42px;
  background-position: -312px -382px;
}

#notice .notice .info .info-text a.i6 {
  padding: 0 0 0 58px;
}

#notice .notice .info .info-text a.i6::after {
  margin: 14px auto 0;
  width: 47px;
  height: 44px;
  background-position: -384px -382px;
}

#footer .footer {
  background: #5422b9;
  width: 100%;
  height: 180px;
}

#footer .footer .foot-ban {
  margin: 0 auto;
  width: 1200px;
}

#footer .foot-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 1200px;
  margin: 0 auto;
}

#footer .foot-text .foot-area {
  margin-top: 60px;
}

#footer .foot-text .foot-area .foot-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
}

#footer .foot-text .foot-area .foot-left h2 {
  width: 114px;
  height: 20px;
  background: url(../img/logo.png) no-repeat 0 -39px;
  padding-right: 5%;
}

#footer .foot-text .foot-area .foot-left .address .f-cont {
  margin-bottom: 30px;
}

#footer .foot-text .foot-area .foot-left .address .f-cont a {
  padding: 0 11px;
  border-left: 1px solid #ccc;
}

#footer .foot-text .foot-area .foot-left .address .f-cont a:first-child {
  border: none;
}

.add-cont p {
  padding-bottom: 8px;
  color: #6b6b6b;
}

.yes {
  padding: 0 0 2px 0;
  margin-left: 10px;
  border-bottom: 1px solid #a7a6a6;
  color: #000;
}

.foot-call {
  padding-left: 26px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 60px;
}

.foot-call .tit {
  padding-bottom: 10px;
  font-size: 14px;
  color: #2b2b2b;
}

.foot-call .num {
  padding-bottom: 22px;
  font-size: 20px;
  color: #2b2b2b;
  font-weight: bold;
}

.foot-call p {
  padding: 1px;
  font-size: 12px;
}
/*# sourceMappingURL=style.css.map */